<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>About us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Accusantium repellat suscipit doloremque illo exercitationem
      itaque placeat inventore esse, quam ipsum ipsam minus doloribus id
      iusto possimus eos odio molestias quos?
    </p>
  </div>
</div>

