<p>Stop at 1:43:05</p>

<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Accusantium repellat suscipit doloremque illo exercitationem
      itaque placeat inventore esse, quam ipsum ipsam minus doloribus id
      iusto possimus eos odio molestias quos?
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Voluptate sit natus facilis earum! Quas totam itaque est corrupti
        ipsa quod! Harum amet soluta mollitia impedit placeat, nihil quisquam optio modi.
      </p>
      <p><%= link_to  "View in details", "#", class:"btn btn-secondary"%></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Voluptate sit natus facilis earum! Quas totam itaque est corrupti
        ipsa quod! Harum amet soluta mollitia impedit placeat, nihil quisquam optio modi.
      </p>
      <p><%= link_to  "View in details", "#", class:"btn btn-secondary"%></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Voluptate sit natus facilis earum! Quas totam itaque est corrupti
        ipsa quod! Harum amet soluta mollitia impedit placeat, nihil quisquam optio modi.
      </p>
      <p><%= link_to  "View in details", "#", class:"btn btn-secondary"%></p>
    </div>
  </div>
</div>
